In [1]:
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from config import bonus_db

from matplotlib import pyplot as plt
import numpy as np
import scipy.stats as stats

ImportError: cannot import name 'bonus_db' from 'config' (/Users/kathynguyen/opt/anaconda3/lib/python3.8/site-packages/config/__init__.py)

In [ ]:
engine = create_engine(bonus_db)
conn = engine.connect()

In [3]:
# engine = create_engine('postgresql+psycopg2://scott:tiger@localhost/mydatabase')

SyntaxError: invalid syntax (<ipython-input-3-8ba4f1861359>, line 7)

In [1]:
employees_db = pd.read_sql("SELECT * FROM Employees", connection)
salary_db = pd.read_sql("SELECT * FROM Salaries", connection)
title_db = pd.read_sql("SELECT * FROM Titles", connection)

NameError: name 'pd' is not defined